language: java
jdk:
- oraclejdk8
deploy:
  on:
    tags: true
  skip_cleanup: true
  provider: script
  script: mvn source:jar javadoc:jar deploy --settings settings.xml
notifications:
  slack:
    secure: BCWFczh0M8gqBKSv5QnCNsxv9rNLddW0VaPx4UM92/gRGpD0ES7LOHZBwfJC4KUqqGFALKHx3dfTgAlt93EHQgxxN0u5x4KTP/DESgXQJU8s7pMMfmIeIDZQII4BOrEx1leGygiqkwG5+6lL8LL0zGB7GOZxM98Ec+uxQ9y8/WKqwBqw+UTJVb3vBEHRgm5kC084Hk0rIQDlRMSogck4mOZ2e+K9+CGInj+CGXuASyFT4I89WPHhOZaBFY1KJz9o4dLIu9gI5b/XYG3NBDGSnryNlcqB/YwNyf+mWCkapN9/vHNXB93LuliOoZvce9R2/FAXxXri5D2XRdLtpNdysN5+MvI+cOrjyPa5pEXlUMvDuNPZMnS9gonUU8n4lR9HoAmQ0lZ6VrawgUYHGiYrR5V4bE80ARcHV1GHqGwduL+TCLGQULnUcriN7M5YYxGLMNDPY0T31wv0p4lp9WEqSxtuM8CZqlHpxXKb6ICHnXBhC04PvUSeVaZPg3jt/3KxetfEet9fUmKJzG28TGMURP4GHARsUCHTE/cnnLpAJKfdoWjlwm37t9l+c6Dh8tgvHiIp4ce/KwUYCkeA4Cx0O+4kcvkfsfYMobcVNcPHaqQ2uCsFL/Do+UNh0U4E+VTVF96NKorHG4iHfu+J0rMVlyRz2oBcPkuj/Uf/HyiMFdg=
